body{
    background-color: #051729;
    background-image: -webkit-linear-gradient(top, #333333, #991729);
}

.planet {
    background-color: #000000;
    border-radius: 1000px;
    left: -1000px;
    height: 2000px;
    position: fixed;
    top: 500px;
    width: 2000px;
    z-index: 5;
}
.sun {
    background-color: #5C550A;
    border-radius: 100px;
    box-shadow: 0 0 30px #5C550A;
    height: 200px;
    left: 650px;
    position: fixed;
    top: 800px;
    width: 200px;
    z-index: 6;
}

main{
    position: relative;
    z-index: 10;
}